* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0px;
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  margin: 0px;
  font-size: 1.5rem;
  font-weight: 800;
}

p {
  font-size: 1.25rem;
  line-height: 150%;
}

header {
  padding: 96px 0 64px 0;
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

main {
  padding: 72px 0;
  background-color: hsla(0, 0%, 40%, 1);
}

strong {
  color: hsla(160, 100%, 30%, 1);
  font-weight: 800;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.intro-chunk,
.card {
  padding: 0 24px 24px;
}

.intro-chunk {
  max-width: 415px;
}

.card {
  padding-top: 8px;
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
  background-color: white;
}

.indented-heading {
  margin-left: -32px;
  padding: 12px 24px 12px 32px;
  border-bottom: 8px solid hsla(45, 100%, 40%, 1);
  background-color: hsla(45, 100%, 50%, 1);
}
