* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 96px;
  padding-bottom: 64px;
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

main {
  padding-top: 72px;
  padding-bottom: 64px;
  background-color: hsla(0, 0%, 40%, 1);
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 64px;
}

p {
  font-size: 1.25rem;
  line-height: 150%;
}

p strong {
  font-weight: 150%;
  color: hsla(160, 100%, 30%, 1);
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.intro-chunk {
  max-width: 424;
  padding-inline-start: 24px;
}

.card {
  padding: 24px;
  padding-top: 8px;
  background-color: white;
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

.card h2 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 800;
  background-color: hsla(45, 100%, 50%, 1);
  padding: 16px 32px;
  border-bottom: 8px solid hsla(45, 100%, 40%, 1);
}

.indented-heading {
  margin-left: -32px;
}
